<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Kết nối Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Đọc nhạc trên thiết bị -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Thông báo -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Phát nhạc nền -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:theme="@style/Theme.NgocSiMusic"
        android:label="NGỌC SĨ MUSIC"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true">

        <!-- Màn hình chính -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver
            android:name=".MusicWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_info" />
        </receiver>

        <!-- Media3 Music Service -->
        <service
            android:name=".MusicService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">

            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>

        </service>

    </application>

</manifest>
